#card-projects1 {
  height: 40vh;
}

/* .screenshot{
  background-image: url("../images/website2/Sy.jpg");
  background-color: #f0f7ed;
  background-position-y: center;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100vh;
} */
